.item{
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item p{
    display: flex;
    color: rgb(234, 234, 246);
    padding: 5px;
    justify-content: center;
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    padding: 10px;
    gap: 20px;
}

.item-prices-new{
    color: rgb(247, 5, 5);
    font-size: 18px;
    font-weight: 600;
}

.item-prices-old{
    color: gray;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform:scale(1.05);
    transition: 0.6s;
}

.item img {
    display: flex;
    height: 40vh;
    width: 270px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}

@media(max-width:480px){
    .item {
        background-color: rgb(41, 40, 40);
        border-radius: 10px;
        width: 79px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .item img {
        display: flex;
        height: 13vh;
        width: 79px;
        /* border: 1px solid gray; */
        border-radius: 10px;
    }
    .item p {
        font-size: 7px;
        display: flex;
        color: rgb(234, 234, 246);
        padding: 1px;
        justify-content: center;
        margin: 6px 0px;
    }
    .item-prices {
        display: flex;
        padding: 3px;
        gap: 7px;
    }
    .item-prices-new {
        color: rgb(247, 5, 5);
        font-size: 12px;
        font-weight: 600;
    }
    .item-prices-old {
        color: gray;
        font-size: 12px;
        font-weight: 500;
        text-decoration: line-through;
    }
}

